@{
    Layout = "_ConfigurePlugin";
}
@using Microsoft.AspNetCore.Http
@model Nop.Plugin.Misc.MailChimp.Models.MailChimpModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="MailChimp" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#@Html.IdFor(model => model.AutoSync)").click(toggleAutoSync);
                    toggleAutoSync();
                });

                function toggleAutoSync() {
                    if ($('#@Html.IdFor(model => model.AutoSync)').is(':checked')) {
                        $('#pnlAutoSyncEachMinutes').show();
                    }
                    else {
                        $('#pnlAutoSyncEachMinutes').hide();
                    }
                };
            </script>

            <div class="panel-body">
                <p>
                    To configure this plugin simply enter your MailChimp API key and select list of the synchronization.<br />
                    Details about the feature MailChimp Ecommerce you can find on
                    <a href="http://kb.mailchimp.com/integrations/e-commerce/how-to-use-mailchimp-for-e-commerce" target="_blank">this page</a><br />
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.AccountInfo))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AccountInfo" />
                        </div>
                        <div class="col-md-9" style="white-space: pre-line">
                            @Html.Raw(Model.AccountInfo)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="UseEcommerceApi" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseEcommerceApi" />
                        <span asp-validation-for="UseEcommerceApi"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AutoSync" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AutoSync" />
                        <span asp-validation-for="AutoSync"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAutoSyncEachMinutes">
                    <div class="col-md-3">
                        <nop-label asp-for="AutoSyncEachMinutes" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AutoSyncEachMinutes" />
                        <span asp-validation-for="AutoSyncEachMinutes"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ListId_OverrideForStore" asp-input="ListId" asp-store-scope="Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="ListId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ListId" asp-items="Model.AvailableLists" />
                        <span asp-validation-for="ListId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.ApiKey))
        {
            <div class="panel panel-default">

                <script type="text/javascript">
                    $(document).ready(function () {
                        if (@(Context.Session.GetString("synchronization")?.ToLower())) {
                            $('#synchronizationInfo').text('@T("Plugins.Misc.MailChimp.SynchronizationStart")');
                            refresh();
                        }
                    });

                    function refresh(){
                        setTimeout(function() {
                            $.get('@(Url.Action("GetSynchronizationInfo", "MailChimp"))', function(data) {
                                $('#synchronizationInfo').text(data.info);
                                if (!data.completed) {
                                    refresh();
                                }
                            });
                        }, 6000);
                    };
                </script>

                <div class="panel-heading">
                    @T("Plugins.Misc.MailChimp.ManualSync.Hint")
                </div>
                <div class="panel-body">
                    <div id="synchronizationInfo" style="white-space: pre-line"></div>
                </div>
                <div class="panel-footer">
                    <button type="submit" name="synchronization" class="btn bg-primary">
                        @T("Plugins.Misc.MailChimp.ManualSync")
                    </button>
                </div>
            </div>
        }
    </div>
</form>